<h1><%= current_user.email %>'s To-Do List</h1>
<!-- <h3>Your Very Own To-Do List</h3> -->

<div class="col-md-8">
  <div class="new-item">
    <%= render partial: 'items/form', locals: { item: @item } %>
  </div>
  <div class="js-items">
  <%= render partial: 'items/item', locals: { item: @item } %>
  </div>
</div>
